---
import { NexusApp } from 'nexus-data';
import { getNexusLocals } from '../lib/nexus/supabase';

const { user } = getNexusLocals(Astro.locals);
---

<div id="nexus-app-container">
  <NexusApp
    client:load
    userId={user.id}
    userEmail={user.email}
  />
</div>

<style>
  #nexus-app-container {
    width: 100%;
    min-height: 600px;
  }
</style>
